*
  font-family: 'Roboto', sans-serif
  
header
  height: 50px
  position: relative

nav
  background-color: #212121
  width: 100%
  position: fixed
  z-index: 2
  height: 70px

.menu
  display: flex
  justify-content: space-between
  padding: 13px
  list-style-type: none
  margin: 0

  .menu_link
    color: #ffffff
    font-size: 15px
    font-weight: 300

  .menu_item
    border-right: 2px dotted black
    padding-right: 70px

.subheader
  position: absolute
  top: 50px
  width: 100%
  height: 84px
  background-color: rgba(0, 0, 0, 0.6)

  .subheader_col
    display: block
    margin-top: 20px
    font-weight: 300
    font-size: 12px
    line-height: 14px
    text-align: right
    color: #fff

  .subheader_phone
    display: block
    margin-top: 7px
    font-weight: 400
    font-size: 20px
    line-height: 12px
    text-align: right
    text-transform: uppercase
    color: #fff

.subheader_btn
  margin-top: 19px
  text-transform: uppercase
  width: 172px
  height: 46px
  border: none
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12)
  border-radius: 4px
  color: #FFFFFF
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)
  font-weight: 400
  font-size: 14px

.promo
  min-height: 800px
  background: url(img/uber_bg.png) center (center / cover) no-repeat
  padding: 135px 0 185px 0

  .promo_header
    font-weight: 700
    font-size: 60px
    line-height: 24px
    text-align: center
    text-transform: uppercase
    color: #fff

  .promo_subheader
    font-weight: 700
    font-size: 36px
    line-height: 36px
    text-align: center
    text-transform: uppercase
    color: #fff

  .promo_descr
    margin-top: 20px
    font-weight: 300
    font-size: 18px
    line-height: 24px
    text-align: center
    color: #fff

  .promo_btn
    display: block
    margin: 120px auto 0 auto
    border: none
    width: 259px
    height: 63px
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12)
    border-radius: 4px
    font-weight: 400
    font-size: 18px
    line-height: 63px
    text-transform: uppercase
    color: #FFFFFF
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)

.lable
  width: 113px
  height: 24px
  padding: 5px 12px
  background-color: #000
  font-weight: 400
  font-size: 11px
  text-align: center
  text-transform: uppercase
  margin: 0 auto
  color: #FFFFFF
  mix-blend-mode: normal

.reasons
  padding: 20px 0 60px 0

.title
  font-weight: 700
  margin-top: 43px
  font-size: 38px
  text-align: center
  text-transform: uppercase
  color: #222222

.reasons .reasons_block
  display: flex
  justify-content: center
  text-align: left
  margin-top: 20px

  .reasons_round
    border-radius: 100%
    display: flex
    width: 116px
    height: 116px
    justify-content: center
    align-items: center
    background: #1EACC7
    margin-right: 20px

  .reasons_descr
    width: 340px

    .reasons_subtitle
      font-weight: 400
      font-size: 17px
      line-height: 21px
      color: #1EACC7

    .reasons_text
      font-weight: 300
      font-size: 15px
      line-height: 21px
      color: #222
.mobile
  min-height: 864px
  padding: 48px 0 79px 0
  background: url("img/mobile_uber/mobile_bg.png") center (center / cover) no-repeat

  .subtitle
    justify-content: center
    align-items: center
    display: flex
  &_item
    position: relative
    width: 320px
    height: 280px
    margin: 0 auto
    margin-bottom: 19px
    padding-top: 92px
    &_title
      justify-content: center
      align-items: center
      display: flex
      color: #fff
      font-weight: 400
      text-align: center
    &_1
      background: url('img/mobile_uber/kartochka_1.png') center (center / cover) no-repeat
    &_2
      background: url('img/mobile_uber/kartochka_2.png') center (center / cover) no-repeat
    &_3
      background: url('img/mobile_uber/kartochka_3.png') center (center / cover) no-repeat
    &_4
      background: url('img/mobile_uber/kartochka_4.png') center (center / cover) no-repeat
    &_5
      background: url('img/mobile_uber/kartochka_5.png') center (center / cover) no-repeat
    &_6
      background: url('img/mobile_uber/kartochka_6.png') center (center / cover) no-repeat
    &_plus
      display: flex
      width: 26px
      height: 26px
      background-color: #000
      border-radius: 100%
      align-items: center
      justify-content: center
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 35px
      cursor: pointer

.choice
  position: relative
  min-height: 895px
  padding: 57px 0 157px 0
  background: url('img/mobile_uber/mobile_bg.png') center (center / cover) no-repeat
  h2.title_white
    position: relative
    justify-content: center
    align-items: center
    display: flex
    z-index: 3
    color: #fff
  .subtitle_white
    position: relative
    justify-content: center
    align-items: center
    display: flex
    z-index: 3
    color: #fff
  .label_white
    position: relative
    justify-content: center
    align-items: center
    display: flex
    z-index: 3
    color: #000
    background: #fff center (center / cover) no-repeat
    width: 113px
  &_descr
    position: relative
    justify-content: center
    align-items: center
    display: flex
    text-align: center
  &_img
    position: relative
    z-index: 2
    display: block
    margin: 56px auto 0 auto
  .black
    position: absolute
    top: 0
    left: 0
    height: 499px
    width: 100%
    background-color: #070716
    z-index: 1